<mat-toolbar class="toolbar">
  <div class="toolbar__container">
    <button mat-fab extended (click)="onToggleSidenav()" class="menu-icon" aria-label="Toggle menu">
      <mat-icon>menu</mat-icon>
      Menu
    </button>
    <h2>EduManage</h2>
    <div class="toolbar__options">
      <button mat-fab class="menu-icon" aria-label="Manage account" [matMenuTriggerFor]="account">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #account="matMenu" xPosition="before">
        <div *ngIf="authUser$ | async as authUser">
          <div id="profile" class="profile">
            <div class="profile__photo">
              <img mat-card-xl-image src="{{ authUser.photo }}" alt="avatar">
            </div>
            <div class="profile__info">
              <p>{{ authUser.firstName }}</p>
              <p>{{ authUser.lastName }}</p>
              <p>{{ authUser.email }}</p>
            </div>
          </div>
        </div>
      </mat-menu>
      <button mat-fab class="menu-icon" aria-label="Logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
