.card {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

  .info-card {
    width: 50%;
    font-size: 14px;
    background-color: #fcf4fb;
    border: 1px solid #F6D7E8;

    .mat-mdc-card-header {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 5px;
    }
  }

  .info-card:nth-child(2) {
    background-color: #f1eff9;
    border: 1px solid #DCD0EA;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  padding: 80px 40px;
  border: 1px solid #ccc;
  border-radius: 16px;
  box-shadow: 0 4px 10px 0px rgb(210 209 245 / 70%);
  background-color: #fff;

  h2, p {
    text-align: center;
    margin-bottom: 20px;
    color: #1B1229;
  }

  p {
    color: #423c4a;
  }

  .form-input {
    margin-bottom: 15px;
  }
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.modal-btn {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;

  button {
    width: 100%;
  }
}

.signup-prompt {
  text-align: center;
  margin-top: 15px;
  color: #423c4a;
}


