<div class="modal-container">
  <ng-container *ngIf="action === 'Delete' || action === 'Remove'; else formTemplate">
    <p>
      Are you sure you want to delete <span>{{ displayName }}</span>?
    </p>
    <!-- OPTIONS BUTTON -->
    <div mat-dialog-actions class="modal-btn">
      <button mat-raised-button (click)="onCancel()">No, Cancel</button>
      <button mat-raised-button (click)="onDelete()">Yes, Confirm</button>
    </div>
  </ng-container>

  <ng-template #formTemplate>
    <ng-container *ngIf="modalType === 'Student'; else courseTemplate">
      <app-form-edit-student [student]="student" [action]="action" [modalType]="modalType"></app-form-edit-student>
    </ng-container>

    <ng-template #courseTemplate>
      <ng-container *ngIf="action === 'Add'; else editCourse">
        <app-form-add-course [course]="course" [action]="action" [modalType]="modalType"></app-form-add-course>
      </ng-container>
      <ng-template #editCourse>
        <app-form-edit-course [course]="course" [action]="action" [modalType]="modalType"></app-form-edit-course>
      </ng-template>
    </ng-template>
  </ng-template>
</div>
