<div class="assingment-component">
  <h3 appTitleSizeDirective>Assign Student to Course</h3>

  <!-- LOADER -->
  <div *ngIf="isLoading$ | async; else courseList">
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  </div>

  <!-- CONTENIDO PRINCIPAL -->
  <ng-template #courseList>
    <mat-accordion class="dropdown" *ngIf="courses$ | async as courses">
      <ng-container *ngFor="let course of courses">
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="dropdown__container">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ course.courseName }}</mat-panel-title>
            <mat-panel-description class="dropdown__container__title">
              Teacher: {{ course.teacherName }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="dropdown__container__content">
            <div>
              <ng-container *ngIf="course.studentsList && course.studentsList.length > 0; else noStudents">
                <ng-container *ngFor="let student of course.studentsList;">
                  <mat-chip-row class="dropdown__container__content__chip">
                    {{ student.firstName }}
                    <button matChipRemove aria-label="remove" (click)="openDialog('Course', 'Remove', course, student)" *ngIf="role$ | async">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                </ng-container>
              </ng-container>
              <ng-template #noStudents>
                <p class="course__msg">No students in this course.</p>
              </ng-template>
            </div>
            <button mat-icon-button aria-label="Add" (click)="openDialog('Course', 'Add', course)">
              <mat-icon class="add-icon">person_add</mat-icon>
            </button>
          </div>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </ng-template>
</div>
