<div class="sidenav">
  <button mat-fab extended class="menu-icon" aria-label="Students list" (click)="navigation('/dashboard/students')">
    <mat-icon>people_alt</mat-icon>
    Students List
  </button>
  <button mat-fab extended class="menu-icon" aria-label="Courses list" (click)="navigation('/dashboard/courses')">
    <mat-icon>folder</mat-icon>
    Courses List
  </button>
  <button mat-fab extended class="menu-icon" aria-label="Assign student to course" (click)="navigation('/dashboard/assignments')">
    <mat-icon>assignment_ind</mat-icon>
    Assign Student to Course
  </button>
</div>
