<form class="form-container" [formGroup]="formRegister" (ngSubmit)="onSubmit()">

  <h2>Sign Up</h2>
  <p>Enter your credentials for registration</p>

    <!-- FIRSTNAME INPUT-->
  <mat-form-field class="form-input">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName">

    <!-- ERROR MSG -->
    <mat-error *ngIf="firstNameControl?.invalid">
      {{ firstNameControl?.errors?.['error_msg'] }}
    </mat-error>
  </mat-form-field>

  <!-- LASTNAME INPUT -->
  <mat-form-field class="form-input">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName">

    <!-- ERROR MSG -->
    <mat-error *ngIf="lastNameControl?.errors?.['error_msg']">
      {{ lastNameControl?.errors?.['error_msg'] }}
    </mat-error>
  </mat-form-field>

  <!-- PHONE NUMBER INPUT -->
  <mat-form-field class="form-input">
    <mat-label>Phone Number</mat-label>
    <input matInput formControlName="phone">

    <!-- ERROR MSG -->
    <mat-error *ngIf="phoneControl?.invalid">
      {{ phoneControl?.errors?.['error_msg'] }}
    </mat-error>
  </mat-form-field>

  <!-- ADDRESS INPUT -->
  <mat-form-field class="form-input">
    <mat-label>Address</mat-label>
    <input matInput formControlName="address">

    <!-- ERROR MSG -->
    <mat-error *ngIf="addressControl?.invalid">
      {{ addressControl?.errors?.['error_msg'] }}
    </mat-error>
  </mat-form-field>

  <!-- EMAIL INPUT -->
  <mat-form-field class="form-input">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="mail@example.com">

    <!-- ERROR MSG -->
    <mat-error *ngIf="emailControl?.invalid">
      {{ emailControl?.errors?.['error_msg'] }}
    </mat-error>
  </mat-form-field>

  <!-- SEX RADIO BUTTON -->
  <div>
    <mat-radio-group formControlName="sex">
      <mat-radio-button value="Male">Male</mat-radio-button>
      <mat-radio-button value="Female">Female</mat-radio-button>
    </mat-radio-group>

    <!-- ERROR MSG -->
    <mat-error *ngIf="sexControl?.invalid">
      {{ sexControl?.errors?.['error_msg'] }}
    </mat-error>
  </div>

  <!-- SUBMIT BUTTON -->
  <div mat-dialog-actions class="modal-btn">
    <button mat-raised-button type="submit">Sign up</button>
  </div>

  <!-- SIGN UP PROMPT -->
  <div class="signup-prompt">
    <span>Already have an account? <a routerLink="/auth">Login</a></span>
  </div>
</form>


