.component__user-table {
  display: flex;
  flex-direction: column;

  .add-icon{
    margin-bottom: 20px;
    align-self: flex-end;
  }

  .delete-icon {
    //color: #D16D6A;
  }

  .edit-icon {
    //color: #789DE5;
  }
}
